
h1{
    color: var(--text-color);
    margin-left: 0;
    letter-spacing: 0.15vw;
}

.navBar{
    display: flex;
    justify-content: space-around;
}

.online{
    display: flex;
}


.userAccBtn{
    margin-top: 3.5vh;
    margin-right: 1vw;
    border-radius: 50%;
}

.userAccBtn img{
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgb(152, 152, 152);
}

.userAccBtn img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2px 4px rgb(152, 152, 152);
}

.leaderBoard{
    background-color: rgba(240, 248, 255, 0.884);
    padding: 1vh;
    margin-top: 3.5vh;
    height: 5vh;
    border-radius: 10px;
}

.leaderBoard:active{
    background-color: rgb(149, 149, 149);
    transform: scale(1.5)  translateY(4px);  
}

.leaderBoard:hover{
    cursor: pointer;
    box-shadow: 1px 2px 4px 4px rgb(152, 152, 152);
}

.loginWithGoogle{
    margin-top: 3vh;
    font-size: small;
    width: 8vw;
    height: 3vh;
    border-radius: 50%;
}

.googleBtn{
    padding: 2vh;
    background-color: rgba(240, 248, 255, 0.842);
    display: flex;
    border-radius: 20px;
    transition: all 0.2s ease;
    margin-right: 0.5vw;
}

.googleBtn:active{
    background-color: rgb(149, 149, 149);
    transform: scale(1.5)  translateY(4px);  
}

.googleBtn:hover{
    cursor: pointer;
    box-shadow: 1px 2px 4px 4px rgb(152, 152, 152);
}

#loginWord{
    margin-left: 1vw;
    margin-right: 0.2vw;
    font-weight: 600;
    font-size: large;
}

.pagewrap{
    display: flex;
    margin-top: 3vh;
}

.sudokubox{
    margin-left: 20vw;
    border: 1px solid transparent;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 28vw;
    height: 56vh;
}

.elem{
    border: 1px solid var(--border-color);
    background-color: var(--change-color);
    height: 6vh;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.elem:hover{
    background-color: var(--hover-color);
    box-shadow: 0px 0px 3px 1px var(--hover-color)   ; 
    z-index: 1;
}

.btns{
    margin-top: 3vh;
    margin-left: 25vw;
    display: flex;
    padding: 2vh;
    cursor: pointer;
    color: var(--bg-color);
}

.submitbtn{
    padding-top: 0.5vh;
    border-radius: 10px;
    width: 7vw;
    height: 5vh;
    text-align: center;
    background-color: var(--change-color);
}
.resetbtn{
    padding-top: 0.5vh;
    margin-left: 1vw;
    border-radius: 10px;
    width: 7vw;
    height: 5vh;
    text-align: center;
    background-color: var(--change-color);
}

.submitbtn:hover,.resetbtn:hover{
    background-color: var(--fixed-color);
}


.right{
    margin-left: 5vw;
    margin-top: 5vh;
    width: 25vw;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.selem{
    color: var(--text-color);
    width: 7vw;
    height: 12vh;
    border-radius: 10px;
    background-color: var(--fixed-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selem:hover{
    background-color: var(--change-color);
    box-shadow: 0 8px 20px 0 rgba(1, 118, 136, 0.751);
}




@media only screen and (max-width: 900px) {
    .pagewrap{
        display: flex;
        flex-direction: column;
    }
    h1{
        margin-left: 35vw;
    }
    .sudokubox{
        width: 75vw;
        height: 50vh;
    }
    .elem{
        height: 5.55vh;
        width: 7.78vw;
    }
    .right{
        margin-left: 1vw;
        flex-wrap: nowrap;
        width: 100%;
        height: fit-content;
    }
    .selem{
        color: var(--text-color);
        width: 8vw;
        height: 8vh;
    }
    .btns{
        margin-left: 22vw;
        margin-top: 4vh;
    }
    
    .submitbtn{
        padding-top: 0.5vh;
        width: 23vw;
        height: 5vh;
    }
    .resetbtn{
        width: 23vw;
        height: 5vh;

    }
  }