
:root{
    /* --bg-color : #002c47 ;
    --text-color : #fdfdfd ;
    --fixed-color : #2986ce ;
    --border-color : rgb(0, 78, 151) ;
    --change-color : #5bbae2 ;
    --hover-color : #b5d1de ; */
    /* dark */
    /* --dark-bg-color : #060315;
    --dark-primary-color : #471E5B;
    --dark-secondary-color : #0A1430;
    --dark-elem-color : #471D5B */
    /* light */
    /* --light-bg-color : rgba(248, 248, 248, 1);
    --light-primary-color : #FFFFFF;
    --light-secondary-color : #DEDEDE; */
    /* final uses */
    --bg-color : #060315;
    --primary-color : #471E5B;
    --secondary-color :  #101c3f;
    --norm-elem-color : rgba(52, 20, 67, 1);
    --fixed-elem-color : rgba(10, 20, 48, 1);
    --text-color : #fdfdfd ;
    --hover-color :  #7a4096d0;
    --cover-color : #7a4096d0;
}   

[data-theme="light"] {
    --bg-color : rgba(248, 248, 248, 1);;
    --primary-color : #FFFFFF;
    --secondary-color :  #DEDEDE;
    --norm-elem-color : #FFFFFF;
    --fixed-elem-color : #DEDEDE;
    --text-color : #232323 ;
    --hover-color :  #b5b5b5;
    --cover-color : #b5b5b5ee;
}

*{
    animation: slide-up 0.6s ease-in-out   forwards ;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

html{
    z-index: 0;
}

body{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.wholeWrapper{
    height: 100%;
    width: 100%;
}


::-webkit-scrollbar {
    /* display: none; */
    width: 2px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 30px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: 30px;
      transition: all 0.5s ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
  }




h1,h3{
    color: var(--text-color);
    margin-left: 15vw;
    letter-spacing: 0.15vw;

}

.navBar{
    display: flex;
    justify-content: start;
    width: 80vw;
}

.online{
    margin-left: 50vw;
    display: flex;
}


.userAccBtn{
    margin-top: 3.5vh;
    margin-right: 1vw;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px var(--hover-color));
}

.userAccBtn img{
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px var(--primary-color);
}

.userAccBtn img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2px 4px var(--hover-color);
}

.leaderBoard{
    background-color: var(--primary-color);
    padding: 1vh;
    margin-top: 3.5vh;
    height: 5vh;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 5px var(--hover-color));
}

.leaderBoard:active{
    background-color: var(--hover-color);
    transform: scale(1.5)  translateY(4px);  
}

.leaderBoard:hover{
    cursor: pointer;
    box-shadow: 1px 2px 4px 4px var(--hover-color);
}

.loginWithGoogle{
    margin-top: 3vh;
    font-size: small;
    width: 8vw;
    height: 3vh;
    border-radius: 50%;
}

.googleBtn{
    padding: 1.5vh;
    background-color: var(--primary-color);
    display: flex;
    border-radius: 15px;
    transition: all 0.2s ease;
    margin-right: 0.7vw;
    margin-top: 0.2vh;
    filter: drop-shadow(1px 1px 5px var(--hover-color));
}

.googleBtn:active{
    background-color: var(--primary-color);
    transform: scale(1.5)  translateY(4px);  
}

.googleBtn:hover{
    cursor: pointer;
    box-shadow: 1px 2px 4px 4px var(--hover-color);
}

#loginWord{
    margin-left: 1vw;
    margin-right: 0.2vw;
    font-weight: 600;
    font-size: large;
    color: var(--text-color);
}


.darkMode{
    background-color: var(--primary-color);
    height: 6vh;
    padding: 0.5vh;
    border-radius: 10px;
    margin-top: 3.5vh;
    margin-left: 0.8vw;
    filter: drop-shadow(1px 1px 5px var(--hover-color));
}

.darkMode:hover{
    cursor: pointer;
    box-shadow: 1px 2px 4px 4px var(--hover-color);
    
}
.pagewrap{
    display: flex;
}

.hud{
    z-index: -1;
    height: 7vh;
    width: 28vw;
    margin-left: 20vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hudLeft{
    margin-left: 1vw;
    color: var(--text-color);
    font-size: large;
    font-weight: 500;
}


.hudRight{
    z-index: -1;
    display: flex;
}

.heart{
    width: 1vw;
    height: 2.2vh;
    background-color: var(--hover-color);
    border-radius: 50%;
    margin-right: 0.8vw;
}

.sudokubox{
    margin-left: 20vw;
    border: 1px solid transparent;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 28vw;
    height: 56vh;
    z-index: 0;
}

.pauseCover{
    position: absolute;
    background-color: var(--cover-color);
    width: 28vw;
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 2px;
    z-index: 1;
}

.elem{
    border: 1px solid var(--bg-color);
    background-color: var(--primary-color);
    height: 6vh;
    width: 3vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.elem:hover{
    background-color: var(--hover-color);
    box-shadow: 0px 0px 3px 1px var(--hover-color); 
    z-index: 1;
}

.middle{
    margin-left: 1vw;
    margin-top: 3vh;
}

.controlElem{
    background-color: var(--primary-color);
    padding: 0.4vh;
    width: 2.5vw;
    height: 5.2vh;
    margin: 0.5vh;
    margin-top: 1vh;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 5px var(--secondary-color));
}

.controlElem:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.right{
    margin-left: 5vw;
    margin-top: 5vh;
    width: 25vw;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.selem{
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 7vw;
    height: 12vh;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(1px 2px 4px var(--secondary-color));
}

.selem:hover{
    background-color: var(--hover-color);
    box-shadow: 0 3px 20px 0 var(--hover-color);
}




@media only screen and (max-width: 900px) {
    .pagewrap{
        display: flex;
        flex-direction: column;
    }
    h1{
        margin-left: 8vw;
        font-size: 25px;
    }
    .online{
        margin-left: 18vw;
    }
    .loginWithGoogle{
        margin-top: 2vh;
        width: 13vw;
        margin-right : 1vw
    }
    .googleBtn{
        border-radius: 50%;   
    }
    .googleBtn img{
        height: 25px;
        width: 25px;
    }
    #loginWord{
        display: none;
    }
    .userAccBtn{
        margin-top: 2.5vh;
        margin-right: 2vw;
    }
    .userAccBtn img{
        height: 43px;
        width: 43px;
    }


    .leaderBoard{
        border-radius: 50%;
        margin-top: 2.5vh;
        height: 4vh;
        
    }

    .leaderBoard img{
        height: 30px;
        width: 30px;
    }
 
    .darkMode{
        border-radius: 50%;
        padding: 1vh;
        margin-top: 2.7vh;
        height: 4vh;
        width: auto;
        margin-left: 1.2vw;
    }

    .darkMode img{
        height: 30px;
        width: 30px;
    }
    .hud{
        margin-left: 17vw;
        width: 60vw;
    }
    .hudLeft{
        font-weight: 400;
        font-size: large;
    }
    .pauseBtn img{
        width:7vw;
    }
    .heart{
        width: 3vw;
        height: 2vh;
    }
    .sudokubox{
        margin-left: 6vw;
        width: 85vw;
        height: 50vh;
    }
    .pauseCover{
        width: 85vw;
        height: 54vh;
    }
    .elem{
        width: 9vw;
        height: 5.55vh;
    }

    .middle{
        margin-left: 30vw;
        display: flex;
    }

    .controlElem{
        height: 5.5vh;
        width: auto;
        border-radius: 6px;
    }
    
    .right{
        margin-left: 7.5vw;
        flex-wrap: nowrap;
        width: 81vw;
        height: fit-content;
        margin-top: 2vh;
    }
    .selem{
        width: 9.5vw;
        height: 8vh;
    }

  }