.leaderBoardBackDrop{
    position: fixed;
    height: fit-content;
    width: 70vw;
    backdrop-filter: blur(50px);
    background-color: rgba(79, 129, 238, 0.137);
    z-index: 1;
    top: 5vh;
    left: 10vw;
    padding: 3vh;
    margin-bottom: 5vh;
    border-radius: 30px;
}

.leaderBoardWrapper{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.topOfLeaderBoard{
    display: flex;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
}

.closeLeaderBoardBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3vw;
    width: 3vw;
    height: 6vh;
    background-color: rgba(240, 248, 255, 0.912);
    border-radius: 10px;
    position: absolute;
    left:29vw;
}


.closeLeaderBoardBtn:hover{
    background-color: rgb(137, 137, 137);
    cursor: pointer;
}


.totalSelector{
    display: flex;
    font-size: large;
    font-weight: 600;
}

.todayRanking,.overAllRanking{
    text-align: center;
    height: 5vh;
    width: 8vw;
    padding: 1vh;
    background-color: rgb(105, 105, 173);
    color: aliceblue;
}

.todayRanking:hover,.overAllRanking:hover{
    cursor: pointer;
    background-color: rgba(65, 65, 141, 0.856);
    box-shadow: 0px 0px 3px 2px rgb(152, 152, 152);
}

.sepratorSelector{
    height: 7vh;
    width: 0.2vw;
    background-color: rgb(178, 151, 203);
}

.todayRanking{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.overAllRanking{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 900px) {
    .leaderBoardBackDrop{
        background-color: rgba(6, 32, 87, 0.762);
        width: 80vw;
        left: 5vw;
    }

    .closeLeaderBoardBtn{
        width: 8vw;
        height: 6vh;
        /* right: 5vw ; */
        left: 50vw;
    }
    .todayRanking,.overAllRanking{
        width: 15vw;
        height: 4vh;

    }
    .sepratorSelector{
        height: 6vh;
    }

    .leaderBoardWrapper{
        padding-left: 5vw ;
    }
}