.leaderBoardListWrapper{
    color: var(--text-color);
    padding: 0.5vh;
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: 500;
    height: 5vh;
    width: 50vw;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 0.4vh;
    transform: scale(1);
}
.leaderBoardListWrapper:hover{
        cursor: default;
        box-shadow: 0 8px 20px 0 rgba(37, 46, 86, 0.751);
        /* z-index: 1; */
        transform: scale(1.01);
}

.separatorListLeaderBoard{
    width: 0.3vw;
    height: 100%;
    background-color: var(--hover-color);
}




@media only screen and (max-width: 900px) {
    .leaderBoardListWrapper{
        font-size: large;
        font-weight: 600;
        height: 5vh;
        width: 80vw;
    }

}