.leaderBoardListWrapper{
    color: var(--text-color);
    padding: 0.5vh;
    display: flex;
    justify-content: space-around;
    font-size: medium;
    font-weight: 500;
    height: 5vh;
    width: 50vw;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 0.4vh;
    transform: scale(1);
    z-index: 2;
    transition: none;
    transition: box-shadow 0.3s ease;
}

.leaderBoardListWrapper > div{
    transition: none;
}

.leaderBoardListWrapper:hover{
        cursor: pointer;
        box-shadow: 0 8px 20px 0 rgba(37, 46, 86, 0.751);
        /* z-index: 1; */
}

.separatorListLeaderBoard{
    width: 0.3vw;
    height: 100%;
    background-color: var(--hover-color);
    transition: none;
}

.LeaderBoardUsername{
    text-indent: 1vw;
    width: 31%;
    height: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.LeaderBoardRanking{
    text-indent: 2vw;
    display: flex;
    width: 31%;
    height: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.LeaderBoardScore{
    text-indent: 2vw;
    width: 31%;
    height: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickedWrapper{
    
    /* animation: zoom-in-user 0.1s ease-in-out !important; */
    transition: none;
    background-color: var(--primary-color);
    padding: 1vw;
    border-radius: 10px;
    margin: 0.5vw;
    width: 40vw;
    border: 2px solid var(--secondary-text-color);
    transition: box-shadow 0.3s ease;
}

.clickedWrapper:hover{
    box-shadow: 0 8px 20px 0 rgba(37, 46, 86, 0.751);
}

/* .clickedWrapper *{
    animation: zoom-in-user 0.1s ease-in-out !important;
} */

.clickedWrapper:hover{
    cursor: pointer;
}

.clickedUserListItem{
    /* animation: zoom-in-user 0.1s ease-in-out !important; */
    color: var(--secondary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
}
.clickedUserLeft{
    /* animation: zoom-in-user 0.1s ease-in-out !important; */
    width:50%;
    text-align:right;
    margin-right: 2vw;
    z-index: 3;
}


.clickedUserRight{
    /* animation: zoom-in-user 0.1s ease-in-out !important; */
    color: var(--text-color);  
    width:50%;
    text-align:left; 
    display: flex;
}

.confetti{
    padding: 0;
    margin-left: 2vw;
    width: 5vw;
    height: 4vh;
    z-index: 2;
}

.confettiInsideClickedWrapper{
    width: 5vw;
    height: 4vh;
    z-index: 2;
}


@keyframes zoom-in-user {
    from {
        transform: translateY(-10px);

        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}





@media only screen and (max-width: 900px) {
    .leaderBoardListWrapper{
        font-size: small;
        font-weight: 500;
        height: 5vh;
        width: 83vw;
    }

    .clickedWrapper{
        width: 75vw;
        padding-left: 1vw;
        padding-right: 1vw;
        transition: none;
        font-size: small;
    }

    .confettiInsideClickedWrapper{
        width: 5vw;
        height: 5vw;
        z-index: 6;
        position: relative;
        left: 50vw;
        top: 10vw;
    }   


}