.leaderBoardListWrapper{
    padding: 0.5vh;
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: 700;
    height: 5vh;
    width: 50vw;
    background-color: rgba(240, 248, 255, 0.858);
    border-radius: 10px;
    margin-bottom: 0.4vh;
    transform: scale(1);
}
.leaderBoardListWrapper:hover{
        cursor: default;
        box-shadow: 0 8px 20px 0 rgba(37, 46, 86, 0.751);
        /* z-index: 1; */
        transform: scale(1.01);
}

.separatorListLeaderBoard{
    width: 0.3vw;
    height: 100%;
    background-color: rgba(132, 141, 199, 0.129);
}


