.leaderBoardBackDrop{
    position: fixed;
    height: fit-content;
    width: 70vw;
    backdrop-filter: blur(50px);
    background-color: var(--cover-color);
    z-index: 1;
    top: 5vh;
    left: 10vw;
    padding: 3vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    filter: drop-shadow(1px 2px 4px var(--secondary-color));
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.leaderBoardWrapper{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}

.topOfLeaderBoard{
    display: flex;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
}

.closeLeaderBoardBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3vw;
    width: 3vw;
    height: 3VW;
    background-color: var(--secondary-color);
    border-radius: 50% ;
    position: absolute;
    left:29vw;
}


.closeLeaderBoardBtn:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}


.totalSelector{
    display: flex;
    font-size: large;
    font-weight: 600;
}

.todayRanking,.overAllRanking{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    width: 8vw;
    padding: 1vh;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.todayRanking:hover,.overAllRanking:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    box-shadow: 0px 0px 3px 2px rgb(152, 152, 152);
}

.sepratorSelector{
    height: 7vh;
    width: 0.2vw;
    background-color: var(--hover-color);
}

.todayRanking{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.overAllRanking{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leaderBoardListsWrapper{
    border-radius: 20px;
    width: max-content;
    padding: 1vh;
    max-height: 70vh;
    min-height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .leaderBoardBackDrop{
        background-color: var(--cover-color);
        width: 80vw;
        left: 5vw;
    }

    .closeLeaderBoardBtn{
        width: 10vw;
        height: 10VW;
        /* right: 5vw ; */
        left: 50vw;
    }
    .todayRanking,.overAllRanking{
        width: 15vw;
        height: 4vh;
        font-size: small;
    }
    .sepratorSelector{
        height: 6vh;
    }

    .leaderBoardWrapper{
        padding-left: 5vw ;
    }
}


@media only screen and (max-width: 420px) {
    .leaderBoardBackDrop{
        width: 80vw;
        left: 2vw;
        
    }

}