.userAccScreenBackDrop{
    position: fixed;
    height: fit-content;
    width: 80vw;
    backdrop-filter: blur(50px);
    background-color: var(--cover-color);
    z-index: 1;
    top: 5vh;
    left: 10vw;
    padding: 3vh;
    border-radius: 10px;
    filter: drop-shadow(1px 2px 4px var(--secondary-color));
}

.UserAccScreenWrapper{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.topOfUserAcc{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.userWelcome{
    text-indent: 0.5vw;
    font-weight: 800;
    font-size: x-large;
    margin: 1.5vh;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius:10px ;
    padding: 1vh;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 10px 0 var(--hover-color);
    filter: drop-shadow(1px 1px 5px var(--hover-color));
}
.userWelcome:hover{
    cursor: default;
    box-shadow: 0 1px 20px 0 var(--text-color);
}

.controlsUser{
    display: flex;
}

.closeUserAccBtn{
    background-color: var(--secondary-color);
    padding: 0.3vh;
    width: 3vw;
    height: 3VW;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 5px var(--hover-color));
}


.closeUserAccBtn:hover{
    background-color: var(--hover-color);
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px var(--primary-color);
}

.logoutBtn{
    background-color: var(--secondary-color);
    padding: 0.3vh;
    width: 3vw;
    height: 3VW;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    filter: drop-shadow(1px 1px 5px var(--hover-color));
}


.logoutBtn:hover{
    background-color: var(--hover-color);
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px var(--hover-color);

}




.userListItem{
    background-color: var(--primary-color);
    padding: 1vh;
    margin-bottom: 0.5vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: var(--text-color);
}
.userListItem:hover{
    box-shadow: 0 8px 20px 0 var(--secondary-color);
    cursor: default;
}

.userLeft {
    text-indent: 0.5vw;
    font-weight: 500;
    font-size: medium;
    width: 15vw;
    letter-spacing: 1.5px;
}
.userRight{
    font-weight: 500;
    font-size: medium;
    width: 20vw;
    margin-left: 3vw;
    letter-spacing: 1.5px;
    color: var(--text-color);
}


@media only screen and (max-width: 900px) {
    .userAccScreenBackDrop{
        background-color: var(--cover-color);
        width: 86vw;
        left: 2vw;
    }
    .userWelcome{
        font-size: large;
    }
    .topOfUserAcc{
        margin-left: 10vw;
        width: 80vw;
      
    }
    .closeUserAccBtn,.logoutBtn{
        width: 10vw;
        height: 10VW;
    }
    .userListItem{
        margin-left: 12vw;
        font-size: small;
    }
    .userLeft {
        font-size: small;
        width: 26vw;
    }
    .userRight{
        font-size: small;
        width: 50vw;
    }

}


@media only screen and (max-width: 420px) {
    .userAccScreenBackDrop{
        background-color: var(--cover-color);
        width: 83vw;
        left: 1vw;
    }
}